@inherits LayoutComponentBase

<div>
    <main>
        <div class="top-row px-4">
            <span style="display: flex; justify-content: center">
                <Scrollbutton scrollID="Qualifications">
                    Qualifications
                </Scrollbutton>
                &nbsp;|&nbsp;
                <Scrollbutton scrollID="Projects">
                    Projects
                </Scrollbutton>
                &nbsp;|&nbsp;
            </span>
            <div  style="max-height: 100%; max-width 100%; display: flex; position: relative; aspect-ratio : 1 / 1;">
                <Scrollbutton scrollID="Home">
                    <img src="Images/favicon.png" class="fit-image-animated">
                </Scrollbutton>
            </div>
            <span style="display: flex; justify-content: center">
                &nbsp;|&nbsp;
                <Scrollbutton scrollID="About Me">
                    God dayum
                </Scrollbutton>&nbsp;|&nbsp;
                <Scrollbutton scrollID="Contact Info">
                    Contact Info
                </Scrollbutton>
            </span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
