
<button class="button-text" onclick="document.getElementById('@scrollID').scrollIntoView({behavior:'smooth'})">@ChildContent</button>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string scrollID {get; set;}
}