
<button class="button-text" onclick="window.scrollTo({top: document.getElementById('@scrollID').getBoundingClientRect().top + window.pageYOffset -10, behaviour: 'smooth'})">@ChildContent</button>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string scrollID {get; set;}
}