@page "/Contact"

<PageTitle>About Me</PageTitle>

<div>
    <a href="https://github.com/Spizzy1"><img src="Images/github_icon.svg" class="filter-pink center-image" width="80" height="80"/></a>

</div>