@page "/"

<PageTitle>Home</PageTitle>

<div class="main-header" id="Home">
    <div class="parent">
    <img src="Images/favicon.png">
    <div>
        <h1 class="gradient-text", style="font-weight: bold">Hi! I am Isak Nilsson</h1>
        <p style="font-size: 20px"> ...or alternatively IzzyN on the grand web.</p>
    </div>
    </div>
    <hr>
    <p>Amateur video game developer with a particular focus/interest in networking, server architecture and system design.</p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p id="aboutme">
    I'm a 17 year old developer from Sweden, currently pursuing higher education. 
    I've been developing using various tools for roughly <b>2-4 years</b> mainly making various video game demos and fun side projects.
    I would describe myself as a <b>dedicated problem solver</b>   
    </p>
</div>