@page "/"

<PageTitle>Home</PageTitle>

<div class="main-header">
    <div class="parent">
    <img src="Images/favicon.png">
    <div>
        <h1 class="gradient-text", style="font-weight: bold">Hi! I am Isak Nilsson</h1>
        <p> ...or alternatively IzzyN on the grand web.</p>
    </div>
    </div>
</div>