@page "/"

<PageTitle>Home</PageTitle>

<div id="Home">
</div>
<div class="main-header">
    <div class="parent">
    <img src="Images/favicon.png">
    <div>
        <h1 class="gradient-text", style="font-weight: bold">Hi! I am Isak Nilsson</h1>
        <p style="font-size: 20px"> ...or alternatively IzzyN on the grand web.</p>
    </div>
    </div>
    <hr>
    <p>Amateur video game developer with a particular focus/interest in networking, server architecture and system design.</p>

    <br>
    <br>

</div>
<div id="Projects"></div>
<hr>
<h1 class="gradient-text", style="font-weight: bold">Projects</h1>
<br>
<div style=" display: grid; column-gap: 2rem; row-gap: 1rem; grid-template-columns: repeat(2, minmax(0, 1fr));">
    <ProjectCard 
    ImageLink="Images/cmd_xIofbbywLb.gif" 
    Title="Multiplayer CLI Hacking Game"
    Tags="C#, CLI, Networking" 
    Desc="A very basic multiplayer hacking game made to test out networking logic. You can create rooms, join other people's rooms, pick a username and play a basic game with a completely custom online backend."
    GithubLink="https://github.com/Spizzy1/Multiplayer-Hackgame"
    ></ProjectCard>
    <ProjectCard
    ImageLink="Images/Unity_OOUz6bVZhS.gif" 
    Title="Unity Bullethell Engine"
    Tags="C#, Unity, Gamedev, frameworks" 
    Desc="A bullethell demo made in unity uses a highly modified attack editor which lets you create a lot of varying attacks. From splitting bullets to lasers to attacks that only trigger at certain HP thresholds."
    GithubLink="https://github.com/Spizzy1/Descent-into-bullet-hell"
    ></ProjectCard>
    <ProjectCard 
    ImageLink="Images/Medal_HmVBdiGDmF.gif" 
    Title="Space Invaders but better"
    Tags="C#, Unity" 
    Desc="A Space invaders clone made in unity that has a dynamic item system with multiple rarities and very varying effects. It also supports enemies that are of different sizes than just 1x1."
    GithubLink="https://github.com/Spizzy1/space-invaders-but-better"
    ></ProjectCard>
</div>
<p id="About Me">
    I'm a 17 year old developer from Sweden, currently pursuing higher education. 
    I've been developing using various tools for roughly <b>2-4 years</b> mainly making various video game demos and fun side projects.
    I would describe myself as a <b>dedicated problem solver</b>   
</p>